@charset "ISO-8859-1";
html, body{
	background:white;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	color: #c0c0c0;
	padding: 0px 20px 10px 20px;
	margin: 0;
	text-transform: capitalize;
	font-size: 100%;
}
.main{
	width: 100%;
	align-content: space-around;
	border: 1px solid blue;
	flex-direction: column;
}
.newnode, .createnode{
	width: 30%;
	margin: auto;
	justify-content: center;
	flex-direction: column;
	
	border: 1px solid red;
}
.delete{
	border: 1px solid green;
}
.space{
	width: 100%;
	flex-direction: row-reverse;
	border: 1px solid green;
}
input[list=times]{
text-align: center;
width: 90%;

box-sizing: border-box;
}